.accountInfo__inner
 margin-top: 30px
 margin-bottom: 80px 
 display: flex
 flex-direction: column
 color: $generalText

.accountInfo__breadcrumb 
 display: flex
 gap: 15px
 font-size: 14px
 color: $secondaryText
 span
  color: $generalText	
 @media (max-width: 767px)	
  font-size: 12px	
  flex-wrap: wrap

.accountInfo__title
 margin-top:40px
 font-size: 62px
 text-transform: uppercase
 color:$blackTitle
 font-family: 'oswald-bold'
 @media (max-width: 1440px)
  margin-top:30px
 @media (max-width: 767px)
  font-size: 30px	
  margin-top: 20px		

.accountInfo__sections
 margin-top:50px
 @media (max-width: 1440px)
  margin-top:30px

.accountInfo__section__wrapper 
 width:1360px
 display: flex
 gap:30px
 flex-wrap: wrap
 @media (max-width: 1920px)
  width: 1100px	
 @media (max-width: 1440px)
  width: 900px	
 @media (max-width: 1200px)
  width: 720px
 @media (max-width: 992px)
  width: 100%	 			


.accountInfo__section__container
 padding: 40px 40px 20px 40px
 border-radius: 5px
 border: 1px solid $grayBorder
 background-color: $grayBg
 display: flex
 flex-direction: column
 h2
  font-size: 30px 
  font-family: 'oswald-bold'
  text-transform: uppercase
  margin-bottom: 40px
 &:nth-child(1)
  order:1
 &:nth-child(2)
  order:2
 &:nth-child(3)
  order:3
 &:nth-child(4)
  order:4	
 @media (max-width: 1440px)
  padding: 25px 25px 15px 25px
  &:nth-child(3)
   order: 4
  &:nth-child(4)
   order: 3 		
 @media (max-width: 1200px)
  padding: 15px 15px 10px 15px
  &:nth-child(3)
   order: 4
  &:nth-child(4)
   order: 3
 @media (max-width: 767px)	 
   width: 100%	 	

		



.accountInfo__section__description
 margin: 18px 0	
 display: flex
 justify-content: space-between
 font-size: 24px
 font-family: 'oswald'
 div
  font-size: 16px
  display: flex
  gap: 10px
  align-items: center	
	

.accountInfo__contacts__content
 margin:30px 0
 display: flex
 gap:40px
 img
  width:220px
  height: 220px
 @media (max-width: 1440px)
  img
   width:200px
   height: 200px	
 @media (max-width: 1200px)
  img
   width:180px
   height: 180px
 @media (max-width: 1200px)
  flex-direction: column


.accountInfo__contacts__info
 display: flex
 flex-direction: column	
 gap: 15px
 div
  width: 438px
  display: flex
  justify-content: flex-start
  gap: 10px
  span
   min-width: 80px		
   font-size: 16px
   color: $secondaryText
  p
   font-size: 16px
   color: $generalText
 a
  text-align: center
  color: $purple	
 @media (max-width: 1440px)
  div
   width: 100%
 @media (max-width: 1920px)
  div
   width: 308px	
   span
    width: 80px		
    font-size: 14px
   p
    font-size: 14px

.badge
 padding: 8px 15px
 border-radius: 500px
 background-color: $lightYellow
 font-size: 16px
 color: $blackTitle

.accountInfo__divider
 height:1px
 width: 100%
 background-color: $grayBorder

.accountInfo__contacts__additional
 margin-top: 20px
 font-size: 14px
 color: $purple
 display: flex
 gap: 30px
 a
  display: flex
  align-items: center
  img
   width:16px
   height: 16px
   margin-right:8px  

.accountInfo__discount__content
 display: flex
 flex-direction: column
 gap: 10px
 margin: 30px 0 38px 0
 img
  max-width: 468px
 @media (max-width: 768px)  
  img
   max-width: 100%	
 @media (max-width: 1920px)  
  img
   max-width: 338px	
 @media (max-width: 1440px)  
  img
   max-width: 383px
 @media (max-width: 1200px)  
  img
   max-width: 313px


.accountInfo__discount__additional
 font-size: 14px
 color: $purple 	
 margin-top: 20px

.accountInfo__history__row
 width: 698px
 display: flex
 align-items: center
 span
  margin: 17px 0
  display: block
  width:20%
  a
   font-size: 14px
   color: $purple	
 span:first-child
  display: flex
  font-family: 'inter-bold'	
  text-transform: uppercase	
  align-items: center	
  gap: 8px		 
 span:nth-child(3),span:nth-child(4)
  width:30%
  display: flex
  justify-content: space-between					
 @media (max-width: 1920px)  
  width: 568px
 @media (max-width: 1440px)  
  width: 848px
 @media (max-width: 1200px)  
  width: 688px
 @media (max-width: 768px)  
  width: 100%
  font-size: 10px			
	
.accountInfo__history
 color:$blackTitle
 span
  white-space: nowrap	
 span:first-child
  width:6px
  height:6px
  border-radius:100px
  background-color: $blackTitle	
 @media(max-width: 768px)
  span	
   display: none				


.accountInfo__history__finished
 color:$finishedGreen
 span:first-child
  width:6px
  height:6px
  border-radius:100px
  background-color: $finishedGreen		
 @media(max-width: 768px)
  span	
   display: none		


.accountInfo__history__canceled
 color: $red
 span:first-child
  width:6px
  height:6px
  border-radius:100px
  background-color: $red	
 @media(max-width: 768px)
  span	
   display: none						

.accountInfo__fine__content
 padding-top:20px
 width: 468px
 height:100%
 @media (max-width: 1920px)  
  width: 338px	
 @media (max-width: 1440px)  
  width: 383px	  	
 @media (max-width: 1200px)  
  width: 313px	  
 @media (max-width: 768px)  
  width: 100%				

.accountInfo__history__content
 @media (max-width: 992px)  
  font-size: 12px			