.header 
 height: 160px
 width: 100%
 background-color: $purple
 @media (max-width: 992px)
  height: 140px	 
 @media (max-width: 425px)	
  height: 160px 	

.header__inner
 padding-top:25px 
 display: flex
 flex-direction: column

.header__input
 border: 3px solid $white
 border-radius: 500px
 width: 580px
 height: 50px
 padding: 0 12px 0 30px
 font-weight: 400
 font-size: 16px
 &::placeholder
   font-weight: 400
   font-size: 16px
   color: $secondaryText
 @media (max-width: 1440px)
  width: 410px	 
 @media (max-width: 1200px)
  width: 380px
 @media (max-width: 992px)
  width: 300px
  height: 40px
 @media (max-width: 767px)
  order: 3
  width: 75%
 @media (max-width: 425px)	
  width: 100%	

.header__dropdown
 width: 145px
 display: flex
 justify-content: space-between
 align-items: center
 img:first-of-type
  width: 26px
  height:26px
 span 
  color: $white
  font-size: 16px
  line-height: 150%
 img:last-of-type
  width: 11px
  height: 6px
 @media (max-width: 1200px)
  width:120px		
  span
   font-size: 12px
 @media (max-width: 992px)
  width: 85px
  img:first-of-type
   width: 20px
   height: 20px
  span
   font-size: 10px
  img:last-of-type
   width: 10px
   height: 6px	
 @media (max-width: 767px)
  order: 2
  width: 20%
  justify-content: flex-start
  gap: 5px	
 @media (max-width: 425px)	
  width: 145px
  padding-bottom: 10px	

.header__controls 
 display: flex
 justify-content: space-between
 @media (max-width: 767px)
  flex-wrap: wrap
	
.header__logo
 width: 249px
 height:40px
 object-fit: contain 	
 @media (max-width: 992px)
  width: 149px
  height:30px
 @media (max-width: 767px)
  order: 0
  width: 45%	
  margin-bottom: 20px


.header__buttons
 width: 236px
 display: flex
 justify-content: space-between
 align-items: center
 li
  border-radius: 500px
  width: 50px
  height: 50px
  background: rgba(255, 255, 255, 0.1)
  display: flex
  justify-content: center
  align-items: center
  position: relative
  img
   width: 24px
 @media (max-width: 1200px)
  width: 160px	
  li
   width:35px
   height:35px
   img
    width: 16px	 
 @media (max-width: 992px)
  width: 130px
  li
   width:30px
   height:30px
   img
    width: 12px	 									 	
 @media (max-width: 767px)
  order: 1
  width: 50%	
  justify-content: flex-end  	
  gap: 10px		
  margin-bottom: 20px	

.header__badge
 position: absolute
 right: -5px
 top: -5px
 border-radius: 22px
 width: 20px
 height: 20px 	
 background-color: $yellow
 color: $blackTitle
 font-family: 'inter-bold'
 font-size: 12px	 
 display: flex
 justify-content: center
 align-items: center
 @media (max-width: 1200px)
  width: 17px
  height: 17px
 @media (max-width: 992px)	 
  width: 15px
  height: 15px

.header__navigation
 margin-top: 25px
 height: 60px
 display: flex
 justify-content: space-between
 div
  display: flex
  justify-content: center
  align-items: center
  gap: 15px
  width: 253px
  background-color: $yellow
  span
   font-family: 'oswald-bold'		
   font-weight: 600
   font-size: 20px
   line-height: 150%
   letter-spacing: 0.02em
   text-transform: uppercase
   color: $blackTitle
  @media (max-width: 1200px)
  width: 180px
  span		
   font-size: 16px
 @media (max-width: 992px)
   height: 50px
   div 		 
    width: 120px
    span		
     font-size: 10px
    img
     width:10px			  			
 @media (max-width: 767px)
  display: none

.header__links
 width: 1052px
 display: flex
 align-items: center
 justify-content: space-between
 li
  cursor: pointer
  font-size: 22px
  font-family: 'oswald'
 @media (max-width: 1440px)
  width: 975px
  li		
   font-size: 18px	
 @media (max-width: 1200px)
  width: 700px
  li		
   font-size: 16px
 @media (max-width: 992px)
  width: 550px
  li		
   font-size: 12px	 		

