<div class="header">
	<div class="container">
		<div class="header__inner">
			<div class="header__controls">
				<img src="../../assets/img/photo/Logo.png" alt="logo" class="header__logo">
				<input class="header__input" placeholder="Поиск" />
				<div class="header__dropdown">
					<img alt="userAvatar" src="../../assets/img/icons/userAvatar.png" />
					<span>Константин</span>
					<img alt="chevron_down" src="../../assets/img/icons/chevron.svg" />
				</div>
				<ul class="header__buttons">
					<li>
						<img alt="sale" src="../../assets/img/icons/sale.png" />
					</li>
					<li>
						<img alt="sale" src="../../assets/img/icons/heart.png" />
					</li>
					<li>
						<img alt="sale" src="../../assets/img/icons/compareIcon.png" />
						<span class="header__badge">5</span>
					</li>
					<li>
						<img alt="sale" src="../../assets/img/icons/cart.png" />
						<span class="header__badge">2</span>
					</li>
				</ul>
			</div>

			<div class="header__navigation">
				<div>
					<img alt="sale" src="../../assets/img/icons/burgerMenu.svg" />
					<span>каталог товаров</span>
				</div>
				<ul class="header__links">
					<li>Оборудование</li>
					<li>Косметика</li>
					<li>Текстиль</li>
					<li>Тапочки</li>
					<li>Посуда</li>
					<li>Аксессуары</li>
					<li>Продукты питания</li>
				</ul>
			</div>

		</div>
	</div>
</div>