<div class="sider">
	<ul class="sider__list">
		<li class="sider__list sider__list__active">Контактные данные</li>
		<li>Платежные данные</li>
		<li>
			Заказы
			<span class="sider__badge">15</span>
		</li>
		<li class="sider__list__disclosed">
			<span>Управление товарами</span>
			<ul>
				<li>
					Неопубликованные
					товары
				</li>
				<li>
					Опубликованные
					товары
				</li>
				<li>
					Архив
				</li>
				<li>
					Добавить товар
				</li>
			</ul>
		</li>
		<li>Статистика</li>
		<li>Сообщения <span class="sider__badge">3</span></li>
		<li>Продавцы</li>
		<li>Штрафы</li>
	</ul>
</div>