$black: #121212
$white: #fff
$gray: #fafafa
$shadow: 0px 0px 35px rgba(0, 0, 0, 0.15)
$purple:#5A2957
$secondaryText:#989898
$yellow:#F2CC6A
$lightYellow:#FAEBC3
$blackTitle:#202020
$grayBg:#F7F4F9
$grayBorder:#EFE9F1	
$generalText:#484848
$purple:#5A2957	

